* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}


.container {
    max-width: 1230px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    color: inherit;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}


.text-center {
    align-items: center ;
}